<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
  
  </head>

  <body>

    <div class="container orange lighten-2" id="babyname">
    <h2> <%=@babyname%></h2>

      
      <form>
        
        <a href="/" class="btn waves-effect waves-light grey darken-3">GO BACK
          <i class="material-icons right">skip_previous</i>
        </a>
        
        <button class="btn waves-effect waves-light grey darken-3" type="button" onClick="history.go(0)" value="Generate Again">Generate Again
          <i class="material-icons right">replay</i>
        </button>
        
      </form>
      
    </div>
    
  </body>
</html